{% extends 'magasin/base.html' %}
{% load static %}
{% block styles %}

<style>
    .post-form {
        max-width: 500px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn {
        margin-top: 10px;
    }

    .post-form {
        max-width: 500px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn {
        margin-top: 10px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    textarea {
        border: 1px solid #343232;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        width: 100%;
        max-width: 100%;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #000000;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0069d9;
    }
        /* Style for the container */
        .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .table-container {
        overflow: scroll;
        border: #000000 1px solid;
        padding: 10px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 auto;
    }

    td {
        border: #dddddd 1px solid;
        text-align: center;
        padding: 10px;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    figcaption {
        margin-top: 10px;
        font-weight: bold;
    }

    p {
        margin-top: 5px;
        font-size: 16px;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block content %}
<form method='POST' class="post-form" >
{% csrf_token %}
<div class="container-fluid mt-3">
    <div class="row-9" >
        <!-- all products -->
        <div  id='fournisseur' class="col-lg-9 mx-auto" >
            <div class="row mx-auto" >
                {% for fournisseur in nouvFournisseur %}
                <div class="card" id={{fournisseur.id}} style="width:350px;border:black solid 1px;margin:5px;">
                 
                       <hr class="dropdown-divider">
                       <div class="card-body" style="height: 250px;">
                           <h5 class="card-title">Fournisseur</h5>
                            <p class="card-text">Nom: <b>{{fournisseur.nom}}</b></p>
                           <p class="card-text">Adresse: <b>{{fournisseur.adresse}}</b></p>
                           <p class="card-text">Email: {{fournisseur.email}}</p>
                           <p class="card-text">Tel: {{fournisseur.telephone}}</p>
                       </div>
                       <div style="width: 350px;">
                           <a href="{% url 'detail_Fournisseur' for_id=fournisseur.id %}" class="btn btn-primary">Voir détails</a>
                           <a href="{% url 'edit_Fournisseur' fournisseur.id %}" class="btn btn-success">Modifier</a>
                           <a href="{% url 'delete_Fournisseur' fournisseur.id %}" class="btn btn-danger" >Supprimer</a>
                       </div>
               </div>
           
       
                {% endfor %}
            </div>
        </div>
    </div>
</div>
 </form> 

 {% endblock %}